<html>
  <head><title>{{ ansible_hostname }}</title></head>
  <body>
    <h1>Hello from {{ inventory_hostname }}</h1>
    <p>OS: {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
    <p>IP: {{ ansible_default_ipv4.address }}</p>
    <p>Date: {{ ansible_date_time.date }}</p>
  </body>
</html>

